.menusection {
    background: #002c56;
    color: white;
    text-align: left;
    margin-left: -10px;
    margin-right: -8px;
    padding: 0px 30px;

}

ul li{
    display: inline;
    padding-right: 10px;
}
