body {
    background-color:azure;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.LetterHead{
    margin-left: -10px;
    margin-right: -8px;
    margin-top: -10px;
}
.SchoolName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color:rgb(191, 238, 20);
    color: rgb(86, 15, 252);
}
.SchoolAddress{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.Greeting{
    font-size: 15px;
    color: #c0350b;
}
  
a{
  text-decoration: none;
  color:white;
}

.menusection {
    background: #002c56;
    color: white;
    text-align: left;
    margin-left: -10px;
    margin-right: -8px;
    padding: 0px 30px;
}

ul li{
    display: inline;
    padding-right: 10px;
}


.Headbmenu1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(247, 116, 56);
}
.Headbmenu2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(55, 9, 221);
}
.EndOfPage{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: -50px;
    margin-left: -10px;
    margin-right: -8px;
}

.container1{
    width: 100%;
    height: auto;
    /*adding flexbox style*/

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container2{
    width: 101.2%;
    height: auto;
    background: papayawhip;
    /*adding flexbox style*/

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -9px;
    margin-right: -8px;
}
.box{
    width:20%;
    height:300px;
    background: yellow;
    margin-left:20px;
    margin-right:20px;
    box-sizing: border-box;
    font-size: 50px;
}

.box1{
    width:50%;
    min-width: 300px;
    height:auto;
    box-sizing: border-box;
    margin-left:20px;
    margin-right:20px;
}

.box2{
    width:30%;
    min-width: 300px;
    height:auto;
    box-sizing:border-box;
    margin-left:20px;
    margin-right:20px;
}
.box3{
    width:50%;
    min-width: 300px;
    height:auto;
    box-sizing:border-box;
    margin-left:26px;
    margin-right:20px;
    background: white;
    border-radius:15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box4{
    width:30%;
    height:auto;
    box-sizing: border-box;
    margin-left:20px;
    box-sizing: border-box;
    box-shadow: darkgray;
    background: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
