body{
    margin:0;
}
.LetterHead{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: papayawhip;
    width:100%;
}
.LetterHead img{
    width: 100px;
}
.SchoolName{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

    color: rgb(86, 15, 252);
}
.SchoolAddress{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.Greeting{
    font-size: 15px;
    background: papayawhip;
    color: #c0350b;
}
  
a{
  text-decoration: none;
  color:white;
}

.menusection {
    display:inline-flex;
    box-sizing: border-box;
    width: 100%;
    background: #002c56;
    color: white;
    text-align: left;
}

.menu-content li{
    display: inline;
    padding-right: 10px;
}



.Headbmenu2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(55, 9, 221);
}
.EndOfPage{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: -50px;
    width:100%;
    padding-bottom: 0px;
}
.FooterLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container1{
    width: 100%;
    height: auto;
    background: papayawhip;
    /*adding flexbox style*/

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container2{
    width: 100%;
    height: auto;
    background: url(back.png) repeat;
    /*adding flexbox style*/

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin-left: -9px;
    margin-right: -8px;*/
}

.box1{
    width:50%;
    min-width: 300px;
    height:auto;
    box-sizing: border-box;
    margin-left:20px;
    margin-right:20px;
}
p.Headbmenu1 {
    font-size: 35px;
}
.Headbmenu1 > span{
    color:#ff7200;
}

.box2{
    width:30%;
    min-width: 300px;
    height:auto;
    box-sizing:border-box;
    margin-left:20px;
    margin-right:20px;
}
.box3{
    width:50%;
    min-width: 300px;
    height:auto;
    box-sizing:border-box;
    margin-left:26px;
    margin-right:20px;
    background: white;
    border-radius:15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box4{
    width:30%;
    height:auto;
    box-sizing: border-box;
    margin-left:20px;
    box-sizing: border-box;
    box-shadow: darkgray;
    background: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
